In [6]:
# Pandas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pprint
import scipy.stats as stats
import sqlalchemy
from config import username, password

In [7]:
# connect to database
from sqlalchemy import create_engine

engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/employeesql_db')
connection = engine.connect()

In [8]:
employees_data = pd.read_sql("SELECT * FROM Employees", connection)
salary_data = pd.read_sql("SELECT * FROM Salaries", connection)
title_data = pd.read_sql("SELECT * FROM titles", connection)